{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>aqui xisto</h1>



    <form id="my_form" action="{% url 'app:AppPage'%}" method="post">
        {% csrf_token %}
        <input type="text" name="sname">
        <input type="date" name="ddate" id="date">
        <input type="number" name="ntime">
        <input type="email" name="scontact" id="contact">

        <a href="#" onclick="document.forms['my_form'].submit();">Enviar</a> 
    </form>`




 <ul class="app">
 </ul>


 <script src="{% static 'app/js/main.js' %}"></script>

</body>
</html>